force-app/main/default/flows/Agendamento_Ferias_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Autolaunched Flow invocado pelo Agent Itau RH (topic Agendamento_Ferias). Recebe datas e abono, valida regras CLT, cria Case e submete aprovacao. Retorna varSucesso + varMensagemErro + varCaseId + varCaseNumber para o agent compor a resposta ao colaborador.</description>
    <environments>Default</environments>
    <interviewLabel>Agendamento Ferias Autolaunch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendamento de Ferias (Autolaunch Agent)</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <status>Active</status>

    <actionCalls>
        <name>Submit_Aprovacao</name>
        <label>Submeter para Aprovacao</label>
        <locationX>600</locationX>
        <locationY>900</locationY>
        <actionName>FeriasApprovalSubmitter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Case_Criado</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Criar_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comments</name>
            <value>
                <stringValue>Submetido via Agentforce (Autolaunched Flow invocado pelo topic Agendamento_Ferias).</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <assignments>
        <name>Set_Retorno_Sucesso</name>
        <label>Retornar sucesso para o Agent</label>
        <locationX>600</locationX>
        <locationY>1060</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Criado.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Inputs</name>
        <label>Erro - inputs obrigatorios</label>
        <locationX>200</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Faltam informacoes obrigatorias. Confirme com o colaborador a data de inicio, data de retorno e qual usuario esta solicitando antes de tentar novamente.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Sem_Saldo</name>
        <label>Erro - sem saldo vigente</label>
        <locationX>350</locationX>
        <locationY>340</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nao encontrei um saldo de ferias vigente para voce. Entre em contato com o RH pelo canal oficial para regularizar sua situacao antes de agendar.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Aviso_30d</name>
        <label>Erro - aviso 30d</label>
        <locationX>200</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>As ferias precisam ser solicitadas com pelo menos 30 dias de antecedencia (art. 136 CLT). Escolha uma data de inicio mais distante e tente novamente.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Saldo</name>
        <label>Erro - saldo insuficiente</label>
        <locationX>280</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>O periodo solicitado excede seu saldo de dias disponiveis. Reduza o periodo ou consulte o saldo atualizado no I-Connecta.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Minimo_5</name>
        <label>Erro - minimo 5 dias</label>
        <locationX>360</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>O periodo minimo de ferias e 5 dias corridos. Ajuste as datas para garantir ao menos esse intervalo.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Concessivo</name>
        <label>Erro - fora do concessivo</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A data de retorno ultrapassa seu periodo concessivo. Antecipe as ferias para dentro do prazo legal.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Dia_Semana</name>
        <label>Erro - sex/sab/dom</label>
        <locationX>520</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>As ferias nao podem iniciar em sexta-feira, sabado ou domingo (politica interna do Itau). Escolha um dia de segunda a quinta.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Vespera_Feriado</name>
        <label>Erro - vespera de feriado</label>
        <locationX>600</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>As ferias nao podem comecar nos 2 dias que antecedem um feriado nacional (art. 134, par. 3 CLT). Ajuste a data de inicio.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Set_Erro_Abono</name>
        <label>Erro - abono excede limite</label>
        <locationX>300</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>varSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMensagemErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>O abono pecuniario solicitado excede o limite permitido de 1/3 do direito. Reduza os dias de abono e tente novamente.</stringValue>
            </value>
        </assignmentItems>
    </assignments>

    <decisions>
        <name>Valida_Inputs</name>
        <label>Inputs obrigatorios</label>
        <locationX>350</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Set_Erro_Inputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalidos</defaultConnectorLabel>
        <rules>
            <name>Inputs_OK</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>varUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDataInicio</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDataRetorno</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Saldo_Atual</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Saldo_Existe</name>
        <label>Saldo vigente encontrado?</label>
        <locationX>600</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Set_Erro_Sem_Saldo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Tem_Saldo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Saldo_Atual.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manager</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>

    <decisions>
        <name>Valida_CLT</name>
        <label>Validacoes CLT</label>
        <locationX>600</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Decision_Abono</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK</defaultConnectorLabel>
        <rules>
            <name>R1_Aviso_30d</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxDiasAteInicio</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Aviso_30d</targetReference>
            </connector>
            <label>Aviso 30d</label>
        </rules>
        <rules>
            <name>R2_Saldo_Insuficiente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxDiasSolicitados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Saldo_Atual.Dias_Disponiveis__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Saldo</targetReference>
            </connector>
            <label>Saldo insuficiente</label>
        </rules>
        <rules>
            <name>R3_Minimo_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxDiasSolicitados</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Minimo_5</targetReference>
            </connector>
            <label>Minimo 5 dias</label>
        </rules>
        <rules>
            <name>R4_Concessivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDataRetorno</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Saldo_Atual.Periodo_Concessivo_Fim__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Concessivo</targetReference>
            </connector>
            <label>Fora do concessivo</label>
        </rules>
        <rules>
            <name>R5_Dia_Semana_Invalido</name>
            <conditionLogic>1 OR 2 OR 3</conditionLogic>
            <conditions>
                <leftValueReference>fxDiaSemanaInicio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxDiaSemanaInicio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxDiaSemanaInicio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Dia_Semana</targetReference>
            </connector>
            <label>Sex/Sab/Dom</label>
        </rules>
        <rules>
            <name>R6_Vespera_Feriado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fxVesperaFeriado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Vespera_Feriado</targetReference>
            </connector>
            <label>Vespera de feriado</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_Abono</name>
        <label>Validar abono se solicitado</label>
        <locationX>600</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Criar_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK, criar Case</defaultConnectorLabel>
        <rules>
            <name>Abono_Excede_Limite</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>varVenderAbono</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDiasAbono</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>fxLimiteAbono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Erro_Abono</targetReference>
            </connector>
            <label>Abono excede 1/3</label>
        </rules>
    </decisions>

    <formulas>
        <name>fxAssuntoCase</name>
        <dataType>String</dataType>
        <expression>"Pedido de Ferias - " &amp; TEXT({!varDataInicio}) &amp; " a " &amp; TEXT({!varDataRetorno})</expression>
    </formulas>
    <formulas>
        <name>fxDiaSemanaInicio</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!varDataInicio})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxDiasAteInicio</name>
        <dataType>Number</dataType>
        <expression>{!varDataInicio} - TODAY()</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxDiasSolicitados</name>
        <dataType>Number</dataType>
        <expression>{!varDataRetorno} - {!varDataInicio} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxLimiteAbono</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!Get_Saldo_Atual.Dias_Direito__c} / 3) - BLANKVALUE({!Get_Saldo_Atual.Dias_Abono_Vendidos__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fxVesperaFeriado</name>
        <dataType>Boolean</dataType>
        <expression>OR(
    {!varDataInicio} + 1 = DATE(2026,4,21),
    {!varDataInicio} + 2 = DATE(2026,4,21),
    {!varDataInicio} + 1 = DATE(2026,5,1),
    {!varDataInicio} + 2 = DATE(2026,5,1),
    {!varDataInicio} + 1 = DATE(2026,9,7),
    {!varDataInicio} + 2 = DATE(2026,9,7),
    {!varDataInicio} + 1 = DATE(2026,10,12),
    {!varDataInicio} + 2 = DATE(2026,10,12),
    {!varDataInicio} + 1 = DATE(2026,11,2),
    {!varDataInicio} + 2 = DATE(2026,11,2),
    {!varDataInicio} + 1 = DATE(2026,11,15),
    {!varDataInicio} + 2 = DATE(2026,11,15),
    {!varDataInicio} + 1 = DATE(2026,12,25),
    {!varDataInicio} + 2 = DATE(2026,12,25),
    {!varDataInicio} + 1 = DATE(2027,1,1),
    {!varDataInicio} + 2 = DATE(2027,1,1)
)</expression>
    </formulas>

    <recordCreates>
        <name>Criar_Case</name>
        <label>Criar Case de Ferias</label>
        <locationX>600</locationX>
        <locationY>800</locationY>
        <connector>
            <targetReference>Submit_Aprovacao</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RT_Pedido_Ferias.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gestor__c</field>
            <value>
                <elementReference>Get_Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>fxAssuntoCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Agentforce Chat</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aprovacao_Gestor__c</field>
            <value>
                <stringValue>Pendente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Inicio_Ferias__c</field>
            <value>
                <elementReference>varDataInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Retorno_Ferias__c</field>
            <value>
                <elementReference>varDataRetorno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vender_Abono__c</field>
            <value>
                <elementReference>varVenderAbono</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dias_Abono__c</field>
            <value>
                <elementReference>varDiasAbono</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Saldo_Ferias_Ref__c</field>
            <value>
                <elementReference>Get_Saldo_Atual.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <recordLookups>
        <name>Get_Saldo_Atual</name>
        <label>Buscar Saldo Vigente</label>
        <locationX>600</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Saldo_Existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Colaborador__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Vigente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Saldo_Ferias__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Manager</name>
        <label>Buscar Gestor do Colaborador</label>
        <locationX>600</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Pedido_Ferias</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_RT_Pedido_Ferias</name>
        <label>Buscar RecordType Pedido Ferias</label>
        <locationX>600</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Valida_CLT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pedido_Ferias</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <recordLookups>
        <name>Get_Case_Criado</name>
        <label>Buscar Case criado (CaseNumber)</label>
        <locationX>600</locationX>
        <locationY>980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Retorno_Sucesso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Criar_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <start>
        <locationX>350</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida_Inputs</targetReference>
        </connector>
    </start>

    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDataInicio</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDataRetorno</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDiasAbono</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMensagemErro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSucesso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVenderAbono</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
