force-app/main/default/flows/Case_Lembrete_Ferias_Diario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Envia lembrete por email 5 dias antes do inicio das ferias. Roda diariamente as 08:00 (horario de Brasilia).</description>
    <environments>Default</environments>
    <interviewLabel>Case Lembrete Ferias {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Lembrete Ferias Diario</label>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <status>Active</status>
    <actionCalls>
        <name>Enviar_Lembrete</name>
        <label>Enviar Lembrete (Apex)</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>FeriasEmailSender</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Loop_Cases.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tipo</name>
            <value>
                <stringValue>LEMBRETE</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Cases</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <collectionReference>Get_Cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enviar_Lembrete</targetReference>
        </nextValueConnector>
    </loops>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Buscar Cases com Lembrete Hoje</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Data_Notificacao_Lembrete__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Aprovacao_Gestor__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-04-19</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
</Flow>
