AgentforceSysmapEmpreendimentos/force-app/main/default/flows/Agendar_Visita.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Confirmar_Agendamento</name>
        <label>Confirmar Agendamento</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>outputVisitaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Visita</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Visita agendada com sucesso! Esperamos voce no stand de vendas do </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Buscar_Empreendimento_Visita.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Endereco: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Buscar_Empreendimento_Visita.Ponto_Venda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Ate la!</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Empreendimento_Nao_Encontrado_Visita</name>
        <label>Empreendimento Nao Encontrado</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputSucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputConfirmacao</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nao encontrei o empreendimento informado. Os empreendimentos disponiveis sao: Lotus Residence, Reserva SysMap e Privillege.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Setar_Tipo_Informado</name>
        <label>Setar Tipo Informado</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTipoVisita</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTipoVisita</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Criar_Visita</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Empreendimento_Encontrado_Visita</name>
        <label>Empreendimento encontrado?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Empreendimento_Nao_Encontrado_Visita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim_Encontrado_Visita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Empreendimento_Visita</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verificar_Tipo_Visita</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_Tipo_Visita</name>
        <label>Tipo de visita informado?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Criar_Visita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao - usar Presencial</defaultConnectorLabel>
        <rules>
            <name>Sim_Tipo_Informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputTipoVisita</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Setar_Tipo_Informado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Cria um registro de Visita vinculado ao Lead e ao Empreendimento, com data/hora escolhida pelo cliente. Atualiza o status do Lead para Em Atendimento.</description>
    <environments>Default</environments>
    <interviewLabel>Agendar Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agendar Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Visita</name>
        <label>Criar Visita</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Atualizar_Status_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Data_Hora__c</field>
            <value>
                <elementReference>inputDataHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empreendimento__c</field>
            <value>
                <elementReference>Buscar_Empreendimento_Visita.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>inputLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Agendada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <elementReference>varTipoVisita</elementReference>
            </value>
        </inputAssignments>
        <object>Visita__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Empreendimento_Visita</name>
        <label>Buscar Empreendimento</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empreendimento_Encontrado_Visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>inputEmpreendimentoNome</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Empreendimento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Status_Lead</name>
        <label>Atualizar Status do Lead</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Confirmar_Agendamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Empreendimento_Visita</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>inputDataHora</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputEmpreendimentoNome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTipoVisita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputConfirmacao</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSucesso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputVisitaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTipoVisita</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Presencial</stringValue>
        </value>
    </variables>
</Flow>
