AgentforceSysmapEmpreendimentos/force-app/main/default/flows/Cadastrar_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Definir_Saida_Novo_Lead</name>
        <label>Definir Saida Novo Lead</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Criar_Novo_Lead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputJaExistia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cadastro realizado com sucesso, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputPrimeiroNome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>! Seja bem-vindo(a) a Brasal Incorporacoes.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Usar_Lead_Existente</name>
        <label>Usar Lead Existente</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Lead_Existente.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputJaExistia</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Encontrei seu cadastro, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Buscar_Lead_Existente.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMensagem</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>! Vamos continuar de onde paramos.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Lead_Ja_Existe</name>
        <label>Lead ja existe?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Criar_Novo_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim_Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Lead_Existente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usar_Lead_Existente</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Cadastra ou localiza um Lead existente a partir dos dados fornecidos pelo cliente via Agentforce.</description>
    <environments>Default</environments>
    <interviewLabel>Cadastrar Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cadastrar Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Criar_Novo_Lead</name>
        <label>Criar Novo Lead</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Definir_Saida_Novo_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>inputEmpreendimentoInteresse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>inputPrimeiroNome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>inputSobrenome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Agentforce</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>inputTelefone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Em atendimento</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Buscar_Lead_Existente</name>
        <label>Buscar Lead Existente</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Ja_Existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTelefone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Lead_Existente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputEmpreendimentoInteresse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPrimeiroNome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputSobrenome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTelefone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputJaExistia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputMensagem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
