AgentforceSysmapEmpreendimentos/force-app/main/default/flows/Consultar_Empreendimentos1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Montar_Texto</name>
        <label>Montar Texto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Bairro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Descricao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Lazer:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Lazer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Diferenciais: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Diferenciais__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Stand:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Para_Cada_Empreendimento.Ponto_Venda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Para_Cada_Empreendimento</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResultadoN_o</name>
        <label>ResultadoNão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputResultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No momento não encontramos empreendimentos disponíveis...</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Encontrou_resultados</name>
        <label>Encontrou resultados?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ResultadoN_o</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Empreendimentos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Para_Cada_Empreendimento</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConsTextoTemp</name>
        <dataType>String</dataType>
        <expression>{!Para_Cada_Empreendimento.Name} + &quot; (&quot; + {!Para_Cada_Empreendimento.Bairro__c} + &quot;): &quot; + {!Para_Cada_Empreendimento.Descricao__c} + &quot; Lazer: &quot; + {!Para_Cada_Empreendimento.Lazer__c} + &quot;. Diferenciais: &quot; + {!Para_Cada_Empreendimento.Diferenciais__c} + &quot;. Stand: &quot; + {!Para_Cada_Empreendimento.Ponto_Venda__c} +</expression>
    </formulas>
    <interviewLabel>Consultar Empreendimentos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consultar Empreendimentos1</label>
    <loops>
        <name>Para_Cada_Empreendimento</name>
        <label>Para Cada Empreendimento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Buscar_Empreendimentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Montar_Texto</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Empreendimentos</name>
        <label>Buscar Empreendimentos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_resultados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disponivel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Empreendimento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Empreendimentos</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>inputBairro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMetragemMinima</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputNumQuartos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputQuantidade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputResultado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTextoTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
