AgentforceSysmapEmpreendimentos/force-app/main/default/flows/Consultar_Disponibilidade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Empreendimento_Nao_Existe</name>
        <label>Empreendimento Não Existe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputDisponibilidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nao encontrei esse empreendimento.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Montar_Detalhe</name>
        <label>Montar Detalhe Unidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unidades.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unidades.Num_Quartos__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>quarto(s),</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unidades.Metragem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>m2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unidades.Num_Vagas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>vaga(s), Andar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Unidades.Andar__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTexto</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Montar_Saida_Final</name>
        <label>Montar Saída Final</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputEmpreendimentoEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputTotalDisponiveis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputDisponibilidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTexto</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Empreendimento_existe</name>
        <label>Empreendimento existe?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Empreendimento_Nao_Existe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Empreendimento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Unidades_Disponiveis</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_unidades</name>
        <label>Há unidades?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Ha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Unidades_Disponiveis</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Unidades</targetReference>
            </connector>
            <label>Há</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Consultar Disponibilidade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consultar Disponibilidade</label>
    <loops>
        <name>Loop_Unidades</name>
        <label>Para Cada Unidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Buscar_Unidades_Disponiveis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Montar_Detalhe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Montar_Saida_Final</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Empreendimento</name>
        <label>Buscar Empreendimento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empreendimento_existe</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>inputEmpreendimentoNome</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Empreendimento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Unidades_Disponiveis</name>
        <label>Buscar Unidades Disponiveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ha_unidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Torre__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Buscar_Empreendimento.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disponivel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unidade__c</object>
        <sortField>Metragem__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Empreendimento</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputEmpreendimentoNome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMetragemMinima</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>inputNumQuartos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputDisponibilidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputEmpreendimentoEncontrado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>outputTotalDisponiveis</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varTexto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
