AgentforceSysmapEmpreendimentos/force-app/main/default/flows/Consultar_Empreendimentos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Definir_Saida_Empreendimentos</name>
        <label>Definir Saida</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>outputResultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTextoTemp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputQuantidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContador</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Montar_Texto_Resultado</name>
        <label>Montar Texto Resultado</label>
        <locationX>138</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> (</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Bairro__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>): </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Descricao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Lazer: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Lazer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Diferenciais: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Diferenciais__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>. Stand de Vendas: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Empreendimentos.Ponto_Venda__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTextoTemp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Empreendimentos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nenhum_Encontrado</name>
        <label>Nenhum Encontrado</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outputResultado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No momento nao encontramos empreendimentos disponiveis com essas caracteristicas. Que tal ajustarmos sua busca?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputQuantidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Encontrou_Resultados</name>
        <label>Encontrou resultados?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Nenhum_Encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim_Encontrou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Empreendimentos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Empreendimentos</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Busca empreendimentos disponiveis por criterios do lead (bairro, numero de quartos, metragem) e retorna texto formatado com detalhes de cada empreendimento.</description>
    <environments>Default</environments>
    <interviewLabel>Consultar Empreendimentos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consultar Empreendimentos</label>
    <loops>
        <name>Loop_Empreendimentos</name>
        <label>Para cada Empreendimento</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <collectionReference>Buscar_Empreendimentos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Montar_Texto_Resultado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Definir_Saida_Empreendimentos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Empreendimentos</name>
        <label>Buscar Empreendimentos</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encontrou_Resultados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disponivel</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Empreendimento__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_Empreendimentos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputBairro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputMetragemMinima</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>inputNumQuartos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputQuantidade</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputResultado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTextoTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
