AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SCH_Modify_Guest_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action that cancels the service appointment and sends an email notification to the user who scheduled the appointment.</description>
        <name>CancelServiceAppointment</name>
        <label>Cancel Service Appointment</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>ScreenDisplayCancellationConfirmation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenCollectCancellationReason</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>ComponentCollectCancellationReason.status</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancellationReason</name>
            <value>
                <elementReference>ComponentCollectCancellationReason.cancellationReason</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createSvcAppointmentUrl</name>
            <value>
                <elementReference>CreateServiceAppointmentUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>confirmationEmailTemplateName</name>
            <value>
                <elementReference>CancelAppointmentEmailTemplateName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an action that saves the modified service appointment details and sends an email notification to the flow user.</description>
        <name>SaveServiceAppointment</name>
        <label>Save Service Appointment</label>
        <locationX>512</locationX>
        <locationY>1058</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>ScreenDisplayServiceAppointmentModifyingConfirmation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenDisplayServiceAppointmentSummary</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFieldValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>ServiceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>SelectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsInbound</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isOutboundCommunity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modifyApptFlowUrl</name>
            <value>
                <elementReference>ModifyAppointmentFlowUrl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modifyApptEmailTemplate</name>
            <value>
                <elementReference>ModifyAppointmentEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>svcApptToken</name>
            <value>
                <elementReference>svcApptToken</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Sets the DisableMultiResource variable to True for disabling multi-resource scheduling.</description>
        <name>SetDisableMultiResourceVariable</name>
        <label>Set Disable Multi Resource Variable</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DisableMultiResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines whether the appointment is anonymous.</description>
        <name>IsBookingAnonymous</name>
        <label>Is Booking Anonymous?</label>
        <locationX>281</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>IsDeviceScreenSmall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAnonymousBooking</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>ModifyApptAnonymously</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AllowSvcResourceSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppointment.IsAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDisableMultiResourceVariable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the service appointment is multi-resource.</description>
        <name>IsBookingMultiResource</name>
        <label>Is Booking Multi Resource?</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>ScreenSelectServiceResourceAndTimeSlot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>BookingIsMultiResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>ScreenSelectServiceResource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the user’s device screen size is small.</description>
        <name>IsDeviceScreenSmall</name>
        <label>Is Device Screen Small?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>IsBookingMultiResource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDeviceScreenSmall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Client.FormFactor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LARGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSelectServiceResource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the user wants to modify or cancel the service appointment.</description>
        <name>IsUserModifyingServiceAppointment</name>
        <label>Is User Modifying Service Appointment?</label>
        <locationX>825</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ScreenCollectCancellationReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesModifyingAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isUserModifyingAppointment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsBookingAnonymous</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Inbound Flow for Guests to modify appointments, as part of 258 Scheduler Demo Restructuring</description>
    <environments>Default</environments>
    <interviewLabel>Scheduler - Modify Guest Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Scheduler - Modify Guest Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Allows the flow user to specify a reason for the cancellation of the service appointment.</description>
        <name>ScreenCollectCancellationReason</name>
        <label>Collect Cancellation Reason</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CancelServiceAppointment</targetReference>
        </connector>
        <fields>
            <name>ComponentCollectCancellationReason</name>
            <extensionName>runtime_appointmentbooking:cancelApp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cancelErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the confirmation message that the service appointment is canceled.</description>
        <name>ScreenDisplayCancellationConfirmation</name>
        <label>Display Cancellation Confirmation</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComponentDisplayCancellationConfirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays the confirmation to the flow user that the service appointment is modified.</description>
        <name>ScreenDisplayServiceAppointmentModifyingConfirmation</name>
        <label>Display Service Appointment Modifying Confirmation</label>
        <locationX>512</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ComponentDisplayServiceAppointmentModifyingConfirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays a summary of the modified service appointment details to the flow user.</description>
        <name>ScreenDisplayServiceAppointmentSummary</name>
        <label>Display Service Appointment Summary</label>
        <locationX>512</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SaveServiceAppointment</targetReference>
        </connector>
        <fields>
            <name>ComponentDisplayServiceAppointmentSummary</name>
            <extensionName>runtime_appointmentbooking:flowReview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isGuestUser</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointment</name>
                <value>
                    <elementReference>ServiceAppointment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>AllowSvcResourceSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>SelectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>ServiceAppointment.WorkTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>EngagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentFieldValues</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ErrorMessage</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select a time slot to modify the service appointment.</description>
        <name>ScreenSelectAppointmentTimeSlot</name>
        <label>Select Appointment Time Slot</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayServiceAppointmentSummary</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectAppointmentTimeSlot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>changePrimary</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <elementReference>DisableMultiResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>EngagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>SelectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>ServiceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>ShowTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointment.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>WorkType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ErrorMessage</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the service resource to modify the service appointment.</description>
        <name>ScreenSelectServiceResource</name>
        <label>Select Service Resource</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenSelectAppointmentTimeSlot</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectServiceResource</name>
            <extensionName>runtime_appointmentbooking:resourceList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>ModifyApptAnonymously</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>SelectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>EngagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>AllowSvcResourceSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ErrorMessage</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select the service resource and the available time slot to modify the service appointment.</description>
        <name>ScreenSelectServiceResourceAndTimeSlot</name>
        <label>Select Service Resource And Time Slot</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenDisplayServiceAppointmentSummary</targetReference>
        </connector>
        <fields>
            <name>ComponentSelectServiceResourceAndTimeSlot</name>
            <extensionName>runtime_appointmentbooking:resourceSlot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>ModifyApptAnonymously</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>SelectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>SelectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>AllowSvcResourceSelection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>ShowTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ErrorMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>EngagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ErrorMessage</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays radio button options that allow the flow user to either modify or cancel a service appointment.</description>
        <name>ScrnInitServiceAppointmentModOrCncl</name>
        <label>Initialize Service Appointment Modification or Cancellation</label>
        <locationX>825</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsUserModifyingServiceAppointment</targetReference>
        </connector>
        <fields>
            <name>CpntInitServiceAppointmentModOrCncl</name>
            <extensionName>runtime_appointmentbooking:guestModLndg</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isModifyingAppointment</name>
                <value>
                    <elementReference>isUserModifyingAppointment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentToken</name>
                <value>
                    <elementReference>svcApptToken</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isUserModifyingAppointment</assignToReference>
                <name>isModifyingAppointment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment</assignToReference>
                <name>serviceAppointment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkType</assignToReference>
                <name>workType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EngagementChannelTypeId</assignToReference>
                <name>engagementChannelTypeId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__ModGstAppt</sourceTemplate>
    <start>
        <locationX>699</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ScrnInitServiceAppointmentModOrCncl</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores a boolean value that indicates whether the flow user can select the service resource while modifying the service appointment or the service resource is selected by default.</description>
        <name>AllowSvcResourceSelection</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the dev name of the cancellation confirmation email template to use to notify the customer that their appointment has been canceled.</description>
        <name>CancelAppointmentEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SchedulerPaymentApptCancellationEmailTemplate</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the URL to include in the cancellation confirmation email that launches the flow to create an appointment for unauthenticated (guest) users.</description>
        <name>CreateServiceAppointmentUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://storm-dc11ee73bfa0bb.my.site.com/professional/s/scheduler/inbound-guest-booking-scheduler</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether to disable multi-resource scheduling or not.</description>
        <name>DisableMultiResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the engagement channel type associated with the service appointment.</description>
        <name>EngagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the error messages shown to the flow user by various components and actions.</description>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether to launch the modify service appointment flow or the cancel service appointment flow.</description>
        <name>isUserModifyingAppointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The dev name of the confirmation email template to use to notify a customer that their appointment has been modified.</description>
        <name>ModifyAppointmentEmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ModifyAppointmentEmailTemplateWithPaymentInfoForGuest</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the URL to use to launch the flow to modify a guest appointment.</description>
        <name>ModifyAppointmentFlowUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://storm-dc11ee73bfa0bb.my.site.com/professional/s/scheduler/modify-booking-scheduler</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether the flow user can select to proceed with modifying the service appointment anonymously.</description>
        <name>ModifyApptAnonymously</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy that the flow user wants to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the timezone selected by the flow user.</description>
        <name>SelectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the service appointment record that was passed into the flow.</description>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Stores a JSON string containing name-value pairs to be used as the service appointment attributes.</description>
        <name>ServiceAppointmentFieldValues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the primary or required service resource assigned to the service appointment.</description>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a JSON string containing a list of service resources when multi-resource scheduling is enabled.</description>
        <name>ServiceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether to show the timezone picklist field.</description>
        <name>ShowTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the start date of the service appointment.</description>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores an encrypted token to identify the service appointment that the flow user wants to modify or cancel.</description>
        <name>svcApptToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the work type record that was passed into the flow.</description>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <description>Stores the ID of the work type group associated with the service appointment.</description>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
