AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SCH_Inbound_New_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>1414</locationX>
        <locationY>2678</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>IsAddAttendeesCheckboxSelected</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsInbound</name>
            <value>
                <elementReference>IsInbound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isOutboundCommunity</name>
            <value>
                <elementReference>isOutboundCommunity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>OptionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>ServiceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ServiceAppointment.Id</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Clear_Selected_Values_on_Change</name>
        <label>Clear Selected Values on Change</label>
        <locationX>974</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptionalAttendees</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ValidationErrors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkTypeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedTriageOption</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AttendeesStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>changePrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_Primary_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Assignment</name>
        <label>Initial Assignment</label>
        <locationX>1414</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Street</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.City</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.State</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.PostalCode</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Country</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>isOutboundCommunity_Flow_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_Parent_Record_Assignment</name>
        <label>Service Appointment Parent Record Assignment</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Resource_Selection_Screen_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Anonymous_Booking_Flag</name>
        <label>Set Anonymous Booking Flag</label>
        <locationX>2250</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Composite_Stage</name>
        <label>Set Composite Stage</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompositeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Candidate_Composite_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Triage_Option</name>
        <label>Set Triage Option</label>
        <locationX>1414</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>SelectedTriageOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FIND_RESOURCE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAppointmentStage</name>
        <label>Set Appointment Stage</label>
        <locationX>1414</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppointmentTypeStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AppointmentTypeScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStage</name>
        <label>Set Candidate Stage</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCandidateStageMobile</name>
        <label>Set Candidate Stage Mobile</label>
        <locationX>1194</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CandidateStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>disableMultiResource</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CandidateScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>1414</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets HideAppointmentModeSelectionOptions to False.</description>
        <name>SetHideAppointmentModeSelectionOptionsFalse</name>
        <label>Set Hide Appointment Mode Selection Options Variable</label>
        <locationX>1546</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>HideAppointmentModeSelectionOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets HideAppointmentModeSelectionOptions to True.</description>
        <name>SetHideAppointmentModeSelectionOptionsTrue</name>
        <label>Set Hide Appointment Mode Selection Options Variable</label>
        <locationX>1282</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>HideAppointmentModeSelectionOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AttendeesScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLocationStage</name>
        <label>Set Location Stage</label>
        <locationX>1414</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LocationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LocationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>1414</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReviewScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the flow’s current stage to SelectGroupAppointmentDetailsStage, and sets AppointmentCategory to the appointment mode of the service appointment.</description>
        <name>SetStageToSelectGroupAppointmentDetails</name>
        <label>Set Stage to Select Group Appointment Details</label>
        <locationX>1282</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectGroupAppointmentDetailsStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AppointmentCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceAppointment.AppointmentMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ScreenSelectGroupServiceAppointmentDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTimeSlotStage</name>
        <label>Set Time Slot Stage</label>
        <locationX>1194</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetTopicStage</name>
        <label>Set Topic Stage</label>
        <locationX>1414</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TopicStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TopicScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the choice label and value for the Group Appointment Access Type option on the ScreenSelectGroupServiceAppointmentDetails screen.</description>
        <name>ChoiceUsersAddedAsAttendees</name>
        <choiceText>Added Users</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddedUsers</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the choice label and value for the Group Appointment Access Type option on the ScreenSelectGroupServiceAppointmentDetails screen.</description>
        <name>ChoiceUsersAddedAsAttendeesAndExperienceSiteUsers</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Added and Community Users&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AddedAndCommunityUsers</stringValue>
        </value>
    </choices>
    <constants>
        <description>Stores the value that indicates that the AddOrModifySvcApptAttendees flow is invoked and the service appointment attendee enrollment summary is shown on the parent flow’s confirmation screen.</description>
        <name>CompositeMode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Composite</stringValue>
        </value>
    </constants>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value that indicates that the service appointment mode is Group.</description>
        <name>Group</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </constants>
    <constants>
        <description>Stores the value that indicates that the service appointment mode is Regular.</description>
        <name>Regular</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regular</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Change_Primary</name>
        <label>Change Primary</label>
        <locationX>1194</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>IsServiceAppointmentModeGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Primary_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>changePrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Selected_Values_on_Change</targetReference>
            </connector>
            <label>Change Primary Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Change_Primary_Screen_Decision</name>
        <label>Change Primary Screen Decision</label>
        <locationX>974</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>DisplayServiceAppointmentModeSelectionOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Filter_By_Resource_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDS</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether to display the service appointment mode selection options by checking if appointmentMode is either Group or Regular.</description>
        <name>DisplayServiceAppointmentModeSelectionOptions</name>
        <label>Display Service Appointment Mode Selection Options?</label>
        <locationX>1414</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>SetHideAppointmentModeSelectionOptionsFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes (Default)</defaultConnectorLabel>
        <rules>
            <name>DoNotDisplayServiceAppointmentModeSelectionOptions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>appointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Group</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>appointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Regular</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHideAppointmentModeSelectionOptionsTrue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_Factor</name>
        <label>Form Factor</label>
        <locationX>1282</locationX>
        <locationY>1406</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Large</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Client.FormFactor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Large</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Composite_Stage</targetReference>
            </connector>
            <label>Large</label>
        </rules>
        <rules>
            <name>Others</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Client.FormFactor</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Large</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStageMobile</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the Add Attendees to Service Appointment checkbox is selected on the ScreenSelectGroupServiceAppointmentDetails screen.</description>
        <name>IsAddAttendeesCheckboxSelected</name>
        <label>Is Add Attendees Checkbox Selected?</label>
        <locationX>1414</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>SetConfirmationStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckboxAddAttendees</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddOrModifyAttendees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOutboundCommunity_Flow_Decision</name>
        <label>isOutboundCommunity Flow Decision</label>
        <locationX>1414</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Service_Resource_Selection_Screen_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOutboundCommunity_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOutboundCommunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment_Parent_Record_Assignment</targetReference>
            </connector>
            <label>isOutboundCommunity Flow</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if the service appointment mode is Group.</description>
        <name>IsServiceAppointmentModeGroup</name>
        <label>Is Service Appointment Mode Group?</label>
        <locationX>1414</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>SetReviewStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>IsGroupServiceAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.AppointmentMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetStageToSelectGroupAppointmentDetails</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ResourceDecision</name>
        <label>Resource Decision</label>
        <locationX>1414</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetTimeSlotStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Candidate Selected</defaultConnectorLabel>
        <rules>
            <name>FindResourceDisableMrAndCsFalse</name>
            <conditionLogic>1 AND (2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCandidateStage</targetReference>
            </connector>
            <label>Find Resource Disable MR and CS False</label>
        </rules>
        <rules>
            <name>FindResourceDisableMrAndCsTrue</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>disableMultiResource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Factor</targetReference>
            </connector>
            <label>Find Resource Disable MR and CS True</label>
        </rules>
        <rules>
            <name>Find_Service_Resource_for_Anonymous_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedTriageOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FIND_RESOURCE</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Anonymous_Booking_Flag</targetReference>
            </connector>
            <label>Find Service Resource for Anonymous Booking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Resource_Selection_Screen_Decision</name>
        <label>Service Resource Selection Screen Decision</label>
        <locationX>1414</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>DisplayServiceAppointmentModeSelectionOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymous_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOutboundCommunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Anonymous Booking</label>
        </rules>
        <rules>
            <name>Filter_By_Resource_IDs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOutboundCommunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Filter By Resource IDs</label>
        </rules>
        <rules>
            <name>Anonymous_Booking_Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allowAnonymousBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allowResourceBooking</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOutboundCommunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Anonymous Booking Outbound</label>
        </rules>
        <rules>
            <name>Filter_By_Resource_IDs_Outbound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FilterByResourceIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isOutboundCommunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Triage_Option</targetReference>
            </connector>
            <label>Filter By Resource IDs Outbound</label>
        </rules>
    </decisions>
    <description>Inbound Flow for New Appointments, as part of 258 Scheduler Demo Restructuring</description>
    <environments>Default</environments>
    <formulas>
        <name>contactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Scheduler - Inbound New Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduler - Inbound New Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Triage_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>AppointmentTypeScreen</name>
        <label>Appointment Type Screen</label>
        <locationX>1414</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetLocationStage</targetReference>
        </connector>
        <fields>
            <name>flowApptType</name>
            <extensionName>runtime_appointmentbooking:flowApptType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedApptType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentType</assignToReference>
                <name>selectedApptType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AttendeesScreen</name>
        <label>Attendees Screen</label>
        <locationX>1414</locationX>
        <locationY>4046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTopicStage</targetReference>
        </connector>
        <fields>
            <name>flowTriage</name>
            <extensionName>runtime_appointmentbooking:flowTriage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>option</name>
                <value>
                    <elementReference>SelectedTriageOption</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <elementReference>IsInbound</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceName</name>
                <value>
                    <elementReference>ServiceResourceName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isOutboundCommunity</name>
                <value>
                    <elementReference>isOutboundCommunity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>appointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideAppointmentModePicker</name>
                <value>
                    <elementReference>HideAppointmentModeSelectionOptions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ParentRecordId</assignToReference>
                <name>parentRecordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedTriageOption</assignToReference>
                <name>option</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ContactId</assignToReference>
                <name>contactId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceName</assignToReference>
                <name>serviceResourceName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AppointmentMode</assignToReference>
                <name>appointmentMode</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Candidate_Composite_Screen</name>
        <label>Resource Time Slot Screen</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Change_Primary</targetReference>
        </connector>
        <fields>
            <name>flowResourceTimeSlot</name>
            <extensionName>runtime_appointmentbooking:resourceSlot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <elementReference>IsInbound</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxAttendeeLimit</name>
                <value>
                    <elementReference>MaximumAttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MaximumAttendeeLimit</assignToReference>
                <name>maxAttendeeLimit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CandidateScreen</name>
        <label>Candidate Screen</label>
        <locationX>1194</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetTimeSlotStage</targetReference>
        </connector>
        <fields>
            <name>resource_list</name>
            <extensionName>runtime_appointmentbooking:resourceList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>anonymousBooking</name>
                <value>
                    <elementReference>allowAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>resourceBooking</name>
                <value>
                    <elementReference>allowResourceBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.IsAnonymousBooking</assignToReference>
                <name>isAnonymousBooking</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>1414</locationX>
        <locationY>3194</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>AppointmentCategory</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.createdServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>createTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeCreateCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.deletedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>deleteTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeDeleteCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateSuccessCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.updatedServiceAppointmentAttendeeCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>updateTotalCount</name>
                <value>
                    <elementReference>AddOrModifyAttendees.totServiceAppointmentAttendeeUpdateCount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LocationScreen</name>
        <label>Location Screen</label>
        <locationX>1414</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ResourceDecision</targetReference>
        </connector>
        <fields>
            <name>flowLocation</name>
            <extensionName>runtime_appointmentbooking:flowLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enteredLocation</name>
                <value>
                    <elementReference>SelectedLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distance</name>
                <value>
                    <elementReference>LocationDistance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lat</name>
                <value>
                    <elementReference>LocationLatitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>long</name>
                <value>
                    <elementReference>LocationLongitude</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distanceUnit</name>
                <value>
                    <elementReference>distanceUnit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideStOh</name>
                <value>
                    <elementReference>hideStOh</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.City</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Country</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.PostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.State</assignToReference>
                <name>state</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Street</assignToReference>
                <name>street</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SelectedLocation</assignToReference>
                <name>enteredLocation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationDistance</assignToReference>
                <name>distance</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationLatitude</assignToReference>
                <name>lat</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>LocationLongitude</assignToReference>
                <name>long</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>1414</locationX>
        <locationY>2570</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
        <fields>
            <name>newFlowReview</name>
            <extensionName>runtime_appointmentbooking:flowReviewIO</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>appointmentType</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contactId</name>
                <value>
                    <elementReference>ServiceAppointment.ContactId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>ServiceAppointment.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>ServiceAppointment.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>endDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>ServiceAppointment.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>startDateTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>ServiceAppointment.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>ServiceAppointment.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentFields</name>
                <value>
                    <elementReference>ServiceAppointmentFields</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>optionalAttendees</name>
                <value>
                    <elementReference>OptionalAttendees</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>saveErrors</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowResourceSection</name>
                <value>
                    <elementReference>showServiceResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>attendeeLimit</name>
                <value>
                    <elementReference>AttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>groupAppointmentAccessType</name>
                <value>
                    <elementReference>GroupAppointmentAccessType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointmentFields</assignToReference>
                <name>serviceAppointmentFields</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OptionalAttendees</assignToReference>
                <name>optionalAttendees</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to select group appointment details, such as attendee limit and group appointment access type.</description>
        <name>ScreenSelectGroupServiceAppointmentDetails</name>
        <label>Select Group Service Appointment Details</label>
        <locationX>1282</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>SelectGroupServiceAppointmentDetailsHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Group Service Appointment Details&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenSelectGroupServiceAppointmentDetails_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreenSelectGroupServiceAppointmentDetails_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AttendeeLimit</name>
                    <dataType>Number</dataType>
                    <fieldText>Attendee Limit</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a value from 1 through  {!MaximumAttendeeLimit}&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter a value from 1 through  {!MaximumAttendeeLimit}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!AttendeeLimit} &gt;= 1 &amp;&amp; {!AttendeeLimit} &lt;= {!MaximumAttendeeLimit}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreenSelectGroupServiceAppointmentDetails_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupAppointmentAccessType</name>
                    <choiceReferences>ChoiceUsersAddedAsAttendees</choiceReferences>
                    <choiceReferences>ChoiceUsersAddedAsAttendeesAndExperienceSiteUsers</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Group Appointment Access Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CheckboxAddAttendees</name>
            <dataType>Boolean</dataType>
            <fieldText>Add Service Appointment Attendees to Service Appointment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>1194</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Primary</targetReference>
        </connector>
        <fields>
            <name>appointment_time</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <elementReference>IsInbound</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>StartDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableMultiResourceAndConcurrency</name>
                <value>
                    <elementReference>disableMultiResource</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isAnonymousBooking</name>
                <value>
                    <elementReference>ServiceAppointment.IsAnonymousBooking</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>engagementChannelType</name>
                <value>
                    <elementReference>engagementChannelTypeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxAttendeeLimit</name>
                <value>
                    <elementReference>MaximumAttendeeLimit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.ServiceTerritoryId</assignToReference>
                <name>serviceTerritoryId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StartDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>changePrimary</assignToReference>
                <name>changePrimary</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>engagementChannelTypeId</assignToReference>
                <name>engagementChannelType</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>MaximumAttendeeLimit</assignToReference>
                <name>maxAttendeeLimit</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TopicScreen</name>
        <label>Topic Screen</label>
        <locationX>1414</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetAppointmentStage</targetReference>
        </connector>
        <fields>
            <name>flowWorkType</name>
            <extensionName>runtime_appointmentbooking:flowWorkType</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>ServiceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>WorkTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalInformation</name>
                <value>
                    <elementReference>ServiceAppointment.AdditionalInformation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>ServiceAppointment.Comments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>ValidationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByResources</name>
                <value>
                    <elementReference>FilterByResourceIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterByWorkTypeGroups</name>
                <value>
                    <elementReference>FilterByWorkTypeGroupIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appointmentMode</name>
                <value>
                    <elementReference>ServiceAppointment.AppointmentMode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>WorkTypeGroupId</assignToReference>
                <name>workTypeGroupId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.AdditionalInformation</assignToReference>
                <name>additionalInformation</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ValidationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__In_New</sourceTemplate>
    <stages>
        <name>AppointmentTypeStage</name>
        <isActive>true</isActive>
        <label>Select Appointment Type</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>AttendeesStage</name>
        <isActive>true</isActive>
        <label>Select Attendees</label>
        <stageOrder>0</stageOrder>
    </stages>
    <stages>
        <name>CandidateStage</name>
        <isActive>true</isActive>
        <label>Select Candidate</label>
        <stageOrder>40</stageOrder>
    </stages>
    <stages>
        <name>CompositeStage</name>
        <isActive>false</isActive>
        <label>CompositeStage</label>
        <stageOrder>41</stageOrder>
    </stages>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>LocationStage</name>
        <isActive>true</isActive>
        <label>Select Location</label>
        <stageOrder>30</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <description>Stores the label and order for the stage where the flow user enters the group appointment details. This label is displayed on the progress bar when the user runs this flow.</description>
        <name>SelectGroupAppointmentDetailsStage</name>
        <isActive>true</isActive>
        <label>Select Group Appointment Details</label>
        <stageOrder>55</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <stages>
        <name>TopicStage</name>
        <isActive>true</isActive>
        <label>Select Topic</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>1288</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calls a sub-flow that adds, modifies, or deletes service appointment attendee records for a group service appointment.</description>
        <name>AddOrModifyAttendees</name>
        <label>Add or Modify Attendees</label>
        <locationX>1282</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <flowName>runtime_appointmentbooking__AddAttnd</flowName>
        <inputAssignments>
            <name>emailTemplate</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>flowExecutionMode</name>
            <value>
                <elementReference>CompositeMode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unenrollUrlPrefix</name>
            <value>
                <elementReference>UnenrollUrlPrefix</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>allowAnonymousBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>allowResourceBooking</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores a value that indicates the appointment category of the service appointment.</description>
        <name>AppointmentCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the appointment mode selected for the service appointment.</description>
        <name>appointmentMode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>changePrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>disableMultiResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>distanceUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>mi</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the developer name of the email template that’s sent to the service appointment attendee for enrollment or unenrollment.</description>
        <name>EmailTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the selected Engagement Channel Type.</description>
        <name>engagementChannelTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a comma-separated list of service resource IDs. Depending on the page, these IDs are used to filter work type groups, service territories, or service resources.</description>
        <name>FilterByResourceIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilterByWorkTypeGroupIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a boolean value that indicates whether to display or hide the appointment mode selection options.</description>
        <name>HideAppointmentModeSelectionOptions</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify whether to display ST OH or not</description>
        <name>hideStOh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsInbound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isOutboundCommunity</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LocationDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LocationLatitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationLongitude</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the maximum number of attendees who can be added to a group appointment.</description>
        <name>MaximumAttendeeLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OptionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriageOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceResourceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the prefix for the URL that opens the page that allows the flow user to unenroll from the service appointment.</description>
        <name>UnenrollUrlPrefix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValidationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
