AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SFS_DC_Job_Completion_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_account_id_and_contact_id</name>
        <label>Assign account_id and contact_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>account_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_ContactID_or_AccountID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_main_id_to_work_order_id</name>
        <label>Assign main_id to work_order_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>work_order_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Last_test_for_work_order_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_parent_record_id_to_main_id</name>
        <label>Assign parent_record_id to main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_work_order_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>After fetching the SA parentRecordId, we go back to the flow start and start over. 
If the SA parent is Work Order or Work Order Line Item, the flow will manage to complete.</description>
        <name>Assign_SA_parent_record_id_to_parent_record_id_and_start_the_flow_again</name>
        <label>Assign SA parent record id to parent_record_id and start the flow again</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>parent_record_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sa_parent_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Use_parent_record_id_or_record_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Failed_to_get_a_valid_work_order_id</name>
        <label>Failed to get a valid work_order_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could not find a Work Order to work on</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_AccountId_not_ContactId_error_message</name>
        <label>No AccountId not ContactId error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To create an Asset, the Work Order must have either an Account, a Contact, or both. Please ensure at least one is provided.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_valid_ID_error_message</name>
        <label>No valid ID error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This flow did not get a valid ID as input.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_id_to_main_id</name>
        <label>Set record_id to main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_work_order_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsupported_ID</name>
        <label>Unsupported ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The input ID to the flow is not supported.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_record_not_found_error_message</name>
        <label>WO record not found error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could not find the Work Order.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_ContactID_or_AccountID</name>
        <label>Check for ContactID or AccountID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_AccountId_not_ContactId_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AccountId nor ContactId</defaultConnectorLabel>
        <rules>
            <name>At_least_one_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>account_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>contact_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asset_Info</targetReference>
            </connector>
            <label>At least one ID exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_work_order_id</name>
        <label>Get work_order_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unsupported_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>main_id value is not supported</defaultConnectorLabel>
        <rules>
            <name>Valid_Work_Order_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>main_id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_main_id_to_work_order_id</targetReference>
            </connector>
            <label>Valid Work Order ID</label>
        </rules>
        <rules>
            <name>Valid_WOLI_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>main_id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1WL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WOLI_object</targetReference>
            </connector>
            <label>Valid WOLI ID</label>
        </rules>
        <rules>
            <name>Valid_SA_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>main_id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA_object</targetReference>
            </connector>
            <label>Valid SA ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Last_test_for_work_order_id</name>
        <label>Last test for work_order_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Failed_to_get_a_valid_work_order_id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>work_order_id_is_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>work_order_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>work_order_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>work_order_id is ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_parent_record_id_or_record_id</name>
        <label>Use parent_record_id or record_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_valid_ID_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No id to work with</defaultConnectorLabel>
        <rules>
            <name>parent_record_id_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_parent_record_id_to_main_id</targetReference>
            </connector>
            <label>parent_record_id selected</label>
        </rules>
        <rules>
            <name>record_id_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_record_id_to_main_id</targetReference>
            </connector>
            <label>record_id selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_record_fetched_successfully</name>
        <label>Check if WO record fetched</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>WO_record_not_found_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WO record not found</defaultConnectorLabel>
        <rules>
            <name>WO_record_fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Order.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_account_id_and_contact_id</targetReference>
            </connector>
            <label>WO record fetched</label>
        </rules>
    </decisions>
    <description>A Data Capture flow that captures and processes work order and asset data by retrieving a specific work order, collecting asset and work order details through screens, creating a new asset record, and updating the work order with the new asset and updated information, concluding with the end step.</description>
    <dynamicChoiceSets>
        <description>Dynamic Asset Picklist</description>
        <name>AssetPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Dynamic Work Order Status Picklist</description>
        <name>WorkOrderStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Offline</environments>
    <interviewLabel>Data Capture: Job and Asset Completion Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS DC Job Completion Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordCreates>
        <description>The “Create Asset” element creates a new asset record in the Asset object, manually setting field values including Account ID and Contact ID from the retrieved work order, along with Install Date, Asset Name, Asset Serial Number, and Asset Status from the Asset Info screen inputs.</description>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Work_Order.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>InstallDate.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Asset.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>SerialNum.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Asset_Status.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_SA_object</name>
        <label>Get SA object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA_parent_record_id_to_parent_record_id_and_start_the_flow_again</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>sa_parent_record_id</assignToReference>
            <field>ParentRecordId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_WOLI_object</name>
        <label>Get WOLI object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Last_test_for_work_order_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>work_order_id</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>The &quot;Get Work Order&quot; element fetches a specific work order record from the Work Order object using the parentRecordId as the Work Order ID.</description>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_record_fetched_successfully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>work_order_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>The “Update Work Order” element updates the work order record in the Work Order object, identified by the parentRecordId, by setting the Asset ID from the created asset, and updating the Description and Status fields with values entered in the Work Order Information screen, completing the &quot;Job and Asset Completion Form&quot; process.</description>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>work_order_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Work_Order_Status.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <description>The &quot;Asset Info&quot; screen collects essential asset details, including the asset name, serial number, installation date, status,  various installation questions in a Matrix component, and optional asset image(s).</description>
        <name>Asset_Info</name>
        <label>Asset Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Work_Order_Information</targetReference>
        </connector>
        <fields>
            <name>Asset</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SerialNum</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Serial Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>InstallDate</name>
            <extensionName>runtime_service_fieldservice:dcDate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Install Date</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Asset_Status</name>
            <choiceReferences>AssetPicklist</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Asset Status</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AssetImages</name>
            <extensionName>runtime_service_fieldservice:dcUpImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Asset Installation Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imagesName</name>
                <value>
                    <stringValue>Asset Installation Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useCameraOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Asset_Status.selectedChoiceValues</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Installed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!error_message_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This screen gathers essential work order details, including the work order status, address, description, a customer satisfaction question, images of the completed job, and the customer signature.</description>
        <name>Work_Order_Information</name>
        <label>Work Order Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <fields>
            <name>Work_Order_Status</name>
            <choiceReferences>WorkOrderStatus</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcPicklist</extensionName>
            <fieldText>Work Order Status</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>WorkOrderAddress</name>
            <extensionName>runtime_service_fieldservice:dcAddress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Order Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Work_Order.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Work_Order.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <elementReference>Get_Work_Order.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Work_Order.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>zip</name>
                <value>
                    <elementReference>Get_Work_Order.PostalCode</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <extensionName>runtime_service_fieldservice:dcLongText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Order Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Work_Order.Description</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UploadImages</name>
            <extensionName>runtime_service_fieldservice:dcUpImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Images of Completed Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imagesName</name>
                <value>
                    <stringValue>Job Completion</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>parentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useCameraOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TechSign</name>
            <extensionName>runtime_service_fieldservice:dcSignature</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Worker Signature</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>main_id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>sfdc_fieldservice__DcJobAndAssetComp</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_parent_record_id_or_record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>error_message_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>main_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>parentRecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sa_parent_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>work_order_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
