AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SFS_DC_SA_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Main_Id_to_SA_Id</name>
        <label>Assign Main Id to SA Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_SA_ID_validity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign selected status value abd datetime in previous step to a variable. This variable will be used in a future step to update the status of the Service Appointment.</description>
        <name>Assign_selected_Completed_picklist_value_to_variable</name>
        <label>Assign selected Completed picklist value to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Fetch_Service_Appointment_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletedStatusValue.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fetch_Service_Appointment_record.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment_Status_Using_Completed_Screen_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign selected status value in previous step to a variable. This variable will be used in a future step to update the status of the Service Appointment.</description>
        <name>Assign_selected_En_Route_picklist_value_to_variable</name>
        <label>Assign selected En Route picklist value to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Fetch_Service_Appointment_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnRouteStatusValue.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment_Status_Using_En_Route_Screen_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign selected status and datetime value in previous step to a variable. This variable will be used in a future step to update the status of the Service Appointment.</description>
        <name>Assign_selected_In_Progress_picklist_value_to_variable</name>
        <label>Assign selected In Progress picklist value to variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Fetch_Service_Appointment_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InProgressStatusChange.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fetch_Service_Appointment_record.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment_Status_Using_In_Progress_Screen_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_valid_ID_error_message</name>
        <label>No valid ID error message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This flow did not get a valid ID as input.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_record_not_found</name>
        <label>Service Appointment record not found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could not fetch Service Appointment Record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_record_id_to_main_id</name>
        <label>Set parent_record_id to main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_id_to_main_id</name>
        <label>Set record_id to main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsupported_ID</name>
        <label>Unsupported ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The input ID to the flow is not supported.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Canceled Status Value for Service Appointment Status Field</description>
        <name>Canceled</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <description>Cannot Complete Status Value for Service Appointment Status Field</description>
        <name>CannotComplete</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <description>Completed Status Value for Service Appointment Status Field</description>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <description>En Route Status Value for Service Appointment Status Field</description>
        <name>EnRoute</name>
        <choiceText>En Route</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Route</stringValue>
        </value>
    </choices>
    <choices>
        <description>In Progress Status Value For Service Appointment Status Field</description>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <decisions>
        <description>The id can be SA ID only. Otherwise, it is invalid ID.</description>
        <name>Check_for_SA_ID_validity</name>
        <label>Check for SA ID validity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unsupported_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input ID is not supported by this flow</defaultConnectorLabel>
        <rules>
            <name>Valid_SA_ID</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>main_id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Service_Appointment_record</targetReference>
            </connector>
            <label>Valid SA ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SA_record_fetched</name>
        <label>Check if SA record fetched</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_record_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SA record not found</defaultConnectorLabel>
        <rules>
            <name>SA_record_fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Appointment_Status</targetReference>
            </connector>
            <label>SA record fetched</label>
        </rules>
    </decisions>
    <decisions>
        <description>Display status values for update depending on the current appointment status</description>
        <name>Check_Service_Appointment_Status</name>
        <label>Check Service Appointment Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Scheduled_or_Dispatched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_En_Route</targetReference>
            </connector>
            <label>Status is Scheduled or Dispatched</label>
        </rules>
        <rules>
            <name>Status_is_En_Route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Route</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_In_Progress</targetReference>
            </connector>
            <label>Status is En Route</label>
        </rules>
        <rules>
            <name>Status_is_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_Completed</targetReference>
            </connector>
            <label>Status is In Progress</label>
        </rules>
        <rules>
            <name>Status_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <label>Status is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_parent_record_id_or_record_id</name>
        <label>Use parent_record_id or record_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_valid_ID_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No id to work with</defaultConnectorLabel>
        <rules>
            <name>parent_record_id_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parent_record_id_to_main_id</targetReference>
            </connector>
            <label>parent_record_id selected</label>
        </rules>
        <rules>
            <name>record_id_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>record_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_record_id_to_main_id</targetReference>
            </connector>
            <label>record_id selected</label>
        </rules>
    </decisions>
    <description>A Data Capture Flow that changes the status for the Service Appointment.</description>
    <environments>Offline</environments>
    <formulas>
        <description>Current Date Time formula</description>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Data Capture: Service Appointment Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS DC SA Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordLookups>
        <description>Get details of the Service Appointment from which this flow is launched</description>
        <name>Fetch_Service_Appointment_record</name>
        <label>Fetch Service Appointment record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SA_record_fetched</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Main_Id_to_SA_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Action that updates the Service Appointment status using the status value selected in previous screens</description>
        <name>Update_Service_Appointment_Status_Using_Completed_Screen_Value</name>
        <label>Update Service Appointment Status Using Completed Screen Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Fetch_Service_Appointment_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Action that updates the Service Appointment status using the status value selected in previous screens</description>
        <name>Update_Service_Appointment_Status_Using_En_Route_Screen_Value</name>
        <label>Update Service Appointment Status Using En Route Screen Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Fetch_Service_Appointment_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Action that updates the Service Appointment status using the status value selected in previous screens</description>
        <name>Update_Service_Appointment_Status_Using_In_Progress_Screen_Value</name>
        <label>Update Service Appointment Status Using In Progress Screen Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Fetch_Service_Appointment_record</inputReference>
    </recordUpdates>
    <screens>
        <description>Allows mobile worker to indicate that they have completed or cannot complete the job</description>
        <name>Change_Status_to_Completed</name>
        <label>Change Status to Completed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_Completed_picklist_value_to_variable</targetReference>
        </connector>
        <fields>
            <name>CompletedStatusValue</name>
            <choiceReferences>Completed</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcRbGroup</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows mobile worker to indicate that they are traveling to the site or cannot complete the job</description>
        <name>Change_Status_to_En_Route</name>
        <label>Change Status to En Route</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_En_Route_picklist_value_to_variable</targetReference>
        </connector>
        <fields>
            <name>EnRouteStatusValue</name>
            <choiceReferences>EnRoute</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcRbGroup</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows mobile worker to indicate that they have started work or cannot complete the job</description>
        <name>Change_Status_to_In_Progress</name>
        <label>Change Status to In Progress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_In_Progress_picklist_value_to_variable</targetReference>
        </connector>
        <fields>
            <name>InProgressStatusChange</name>
            <choiceReferences>InProgress</choiceReferences>
            <choiceReferences>CannotComplete</choiceReferences>
            <choiceReferences>Canceled</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcRbGroup</extensionName>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>isDisabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!error_message_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>sfdc_fieldservice__DcApptStatusChange</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_parent_record_id_or_record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>error_message_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>main_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parent_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>parentRecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
