AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SFS_WOE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Labor_Discount</name>
        <label>Assign Labor Discount</label>
        <locationX>528</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AppliedDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectAW.firstSelectedRow.LaborCovered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Part_Discount</name>
        <label>Assign Part Discount</label>
        <locationX>792</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AppliedDiscount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectAW.firstSelectedRow.PartsCovered</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLIs</name>
        <label>Assign QLIs</label>
        <locationX>462</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>QLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Item_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Line_Assignement</name>
        <label>Quote Line Assignement</label>
        <locationX>462</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>quoteLine.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Item_Loop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppliedDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Item_Loop.QuantityRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>quoteLine.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Product_Item_Loop.ProductName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_QLIs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Contract</name>
        <choiceText>Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Warranty</name>
        <choiceText>Warranty</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Warranty</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Discounts</name>
        <label>Check Discounts</label>
        <locationX>462</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_Product_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discount_From_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Discount_Applied_From</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Line_Items</targetReference>
            </connector>
            <label>Discount From Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Type</name>
        <label>Check Product Type</label>
        <locationX>660</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assign_Part_Discount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Labor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Item_Loop.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Labor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Labor_Discount</targetReference>
            </connector>
            <label>Check Labor</label>
        </rules>
    </decisions>
    <description>This is a Screen Flow.
This flow is used to create a work order estimation, including asset details, service contracts, warranties, and products required.</description>
    <environments>Default</environments>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>&apos;Work Estimation For &apos;+ {!Work_Type.recordName}</expression>
    </formulas>
    <formulas>
        <name>subTotal</name>
        <dataType>Currency</dataType>
        <expression>({!Get_Pricebook_Entry.UnitPrice} *{!AppliedDiscount})/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SDO SFS WOE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS WOE</label>
    <loops>
        <name>Product_Item_Loop</name>
        <label>Product Item Loop</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Product_Required</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Discounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>176</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <inputReference>QLIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Quote_Creation</name>
        <label>Quote Creation</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>varQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Product_Item_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Asset_Details.Contact.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Asset_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Asset_Details.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBook.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Work_Order_Creation</name>
        <label>Work Order Creation</label>
        <locationX>176</locationX>
        <locationY>2546</locationY>
        <assignRecordIdToReference>varWorkOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Fetch_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Asset_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>Get_Asset_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Asset_Details.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBook.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Service_Territory.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>Work_Type.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Work_Order</name>
        <label>Fetch Work Order</label>
        <locationX>176</locationX>
        <locationY>2654</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Msg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Asset_Details</name>
        <label>Get Asset Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Line_Items</name>
        <label>Get Contract Line Items</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Item_Loop.Product2Id</elementReference>
            </value>
        </filters>
        <object>ContractLineItem</object>
        <outputAssignments>
            <assignToReference>AppliedDiscount</assignToReference>
            <field>Discount</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>462</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Assignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Item_Loop.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBook.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Required</name>
        <label>Get Product Required</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Estimation_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Type.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequired</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QLIs</name>
        <label>Get QLIs</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <outputReference>createdQLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_QLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SC</name>
        <label>Get SC</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warranty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Details.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceContract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory</name>
        <label>Get Service Territory</label>
        <locationX>176</locationX>
        <locationY>2438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SvcTerritory.001</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warranty</name>
        <label>Get Warranty</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Estimation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset_Details.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssetWarranty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Quote_Updation</name>
        <label>Quote Updation</label>
        <locationX>176</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Get_Service_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuoteId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>176</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quote_Updation</targetReference>
        </connector>
        <fields>
            <name>Quote_Details</name>
            <fieldText>Quote Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Account Name&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!AccountName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Quote&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Quote.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Quote Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Quote.QuoteNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Details_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Message4</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Total&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Quote.GrandTotal}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Quote_Line_Items</name>
            <fieldText>Quote Line Items</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Line_Items_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QLIData</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>QuoteLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Quote Line Items</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>createdQLIs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-91b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Item Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-18d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-32a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Subtotal&quot;,&quot;guid&quot;:&quot;column-e3bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Subtotal &quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Discount&quot;,&quot;guid&quot;:&quot;column-8e2a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Discount (Percentage)&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-e8d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>SelectDate</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Would you like to create the Work Order for this Quote then please select the Start Date for Work Order&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Final_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create WorkOrder</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Msg</name>
        <label>Msg</label>
        <locationX>176</locationX>
        <locationY>2762</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p&gt;Success! Work Order &quot;&lt;a href=&quot;/{!varWorkOrderId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(40, 167, 69); font-size: 16px;&quot;&gt;{!Fetch_Work_Order.WorkOrderNumber}&lt;/a&gt;&quot; has been created for Quote &quot;&lt;a href=&quot;/{!varQuoteId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(40, 167, 69);&quot;&gt;{!Quote_Name}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&quot;&lt;/span&gt; was approved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Estimation_Detail</name>
        <label>Work Estimation Details</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quote_Creation</targetReference>
        </connector>
        <fields>
            <name>Work_Estimation_Details</name>
            <fieldText>Work Estimation Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Work_Estimation_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asset_Account</name>
                    <fieldText>&lt;p&gt;Asset Name - &lt;strong&gt;{!Get_Asset_Details.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Account Name - &lt;strong&gt;{!Get_Asset_Details.Account.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Work_Estimation_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Worktype_ServiceCotract</name>
                    <fieldText>&lt;p&gt;Work Type Name - &lt;strong&gt;{!Work_Type.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Work_Estimation_Details_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>QuoteName</elementReference>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ProductList</name>
            <extensionName>c:sfsworkorder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>workTypeId</name>
                <value>
                    <elementReference>Work_Type.recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Create Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Estimation</name>
        <label>Work Order Estimation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Product_Required</targetReference>
        </connector>
        <fields>
            <name>Enter_Quote_Details1</name>
            <fieldText>Enter Quote Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Enter_Quote_Details1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Asset_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Asset_Details.Name</elementReference>
                    </defaultValue>
                    <fieldText>Asset Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccountName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Asset_Details.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>Get_Asset_Details.Account.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>Get_Asset_Details.Account.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>Get_Asset_Details.Account.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>Get_Asset_Details.Account.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>Get_Asset_Details.Account.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Enter_Quote_Details1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriceBook</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Pricebook2Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Price Book</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>PricebookEntry</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Work_Type</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>WorkTypeId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Work Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_Coverages</name>
            <fieldText>Select Coverages</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_Coverages_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Discount_Applied_From</name>
                    <choiceReferences>Contract</choiceReferences>
                    <choiceReferences>Warranty</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Warranty</defaultSelectedChoiceReference>
                    <fieldText>Discount Applied From</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SelectAW</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>AssetWarranty</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Asset Warranty</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Warranty</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AssetWarrantyNumber&quot;,&quot;guid&quot;:&quot;column-2220&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Asset Warranty Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-bf5c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;EndDate&quot;,&quot;guid&quot;:&quot;column-0461&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;PartsCovered&quot;,&quot;guid&quot;:&quot;column-cdce&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Parts Covered&quot;,&quot;type&quot;:&quot;customPercent&quot;},{&quot;apiName&quot;:&quot;LaborCovered&quot;,&quot;guid&quot;:&quot;column-0a68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Labor Covered&quot;,&quot;type&quot;:&quot;customPercent&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Discount_Applied_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Warranty</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SelectSC1</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ServiceContract</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Service Contract</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_SC</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;ContractNumber&quot;,&quot;guid&quot;:&quot;column-f440&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Contract Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-4143&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate&quot;,&quot;guid&quot;:&quot;column-f248&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-0d88&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Discount_Applied_From</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Contract</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Asset_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AppliedDiscount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>createdQLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>quoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varproc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varProductDataJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
