AgentforceSysmapEmpreendimentos/force-app/main/default/flows/SDO_SFS_DC_Lead_Opp_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_SA</name>
        <label>Assign SA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_SA_ID_validity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_valid_ID_error_message</name>
        <label>No Valid ID Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This flow did not get a valid ID as input.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Service_Appointment_record_not_found</name>
        <label>Service Appointment Record Not Found Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Could not fetch Service Appointment Record.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceAppointmentHasNoContact</name>
        <label>Service Appointment Has No Contact Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Appointment has no contact.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContactId</name>
        <label>Set ContactId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Service_Appointment_record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Have_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_parent_record_id_to_main_id</name>
        <label>Assign parent_record_id To main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>parent_record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_record_id_to_main_id</name>
        <label>Assign record_id To main_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>main_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WO_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the contactCompanyName to the value that the flow user entered on CollectLeadDetailsScreen.</description>
        <name>SetCompanyVariableToCompany</name>
        <label>Assign contactCompanyName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCompanyName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCompanyName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterCustomerRequestScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values from the CollectLeadDetailsScreen to the contactFirstName, contactLastName and contactCompanyName variables.</description>
        <name>SetVariablesLeadName</name>
        <label>Set Collected Data To Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameText.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactLastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastNameText.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contactCompanyName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyText.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterCustomerRequestScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unsupported_ID</name>
        <label>Unsupported ID Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message_text</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The input ID to the flow is not supported.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the current customer choice label and choice value for RadioButtonsSelectCustomerType on SelectCustomerOrLeadScreen.</description>
        <name>CustomerTypeCurrentCustomerChoice</name>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Current customer: {!contactFirstName} {!contactLastName}&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the new lead choice label and choice value for RadioButtonsSelectCustomerType on SelectCustomerOrLeadScreen.</description>
        <name>CustomerTypeNewLeadChoice</name>
        <choiceText>&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;New lead&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <decisions>
        <description>The ID must be a Service Appointment ID. Otherwise, it is invalid.</description>
        <name>Check_for_SA_ID_validity</name>
        <label>Is Valid Service Appointment ID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Unsupported_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Valid_SA_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>main_id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>08p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Service_Appointment_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SA_record_fetched</name>
        <label>Was Service Appointment Record Fetched?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Service_Appointment_record_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SA_record_fetched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Service_Appointment_record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ContactId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether Get Service Appointment returned an existing Contact ID.</description>
        <name>Have_Contact</name>
        <label>Does Service Appointment Have a ContactId?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ServiceAppointmentHasNoContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isExistingContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine whether GetLead returns an existing lead record ID.</description>
        <name>HaveExistingLead</name>
        <label>Have Existing Lead?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>IsNewLeadAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsExistingLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>leadId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOpportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the flow user selected CustomerTypeNewLeadChoice for RadioButtonsSelectCustomerType on SelectCustomerOrLeadScreen.</description>
        <name>IsNewLeadAssignment</name>
        <label>Is New Lead option selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CreateOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsNewLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomerTypeNewLeadChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_parent_record_id_or_record_id</name>
        <label>Use parent_record_id Or record_id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_valid_ID_error_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No input ID</defaultConnectorLabel>
        <rules>
            <name>parent_record_id_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>parent_record_id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_parent_record_id_to_main_id</targetReference>
            </connector>
            <label>Use parent_record_id</label>
        </rules>
        <rules>
            <name>recordId_branch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_record_id_to_main_id</targetReference>
            </connector>
            <label>Use recordId</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the flow user selected current customer in SelectCustomerOrLeadScreen.</description>
        <name>WasCurrentCustomerSelected</name>
        <label>Was Current Customer Option Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CollectLeadDetailsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IsCurrentCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonSelectCustomerType.selectedChoiceValues</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCompanyVariableToCompany</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A Data Capture flow template that lets a flow user indicate customer interest in an upsell opportunity and creates any necessary lead and opportunity records.</description>
    <environments>Offline</environments>
    <formulas>
        <description>Calculates a date that&apos;s 30 days after the flow is run to use for the opportunity close date. To use a different number of days for the opportunity close date, change 30 to the number of days in the future you want.</description>
        <name>OpportunityCloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Data Capture: Create Leads and Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO SFS DC Lead Opp Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>DataCaptureFlow</processType>
    <recordCreates>
        <description>Creates a new lead with the contact information that the flow user entered in CollectLeadDetailsScreen and EnterCustomerRequestScreen. Stores the ID of the result in leadId.</description>
        <name>CreateLead</name>
        <label>Create Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>leadId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactCompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>contactCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CustomerRequestDescriptionLongText.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailText.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>contactFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneNumberText.value</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <description>Creates an opportunity record in the prospecting stage with a close date 30 days in the future, setting LeadSource to leadId, Description to CustomerRequestDescriptionLongText from EnterCustomerRequestScreen, and Name to contactCompanyName. Stores the ID of the result in the opportunityId variable.</description>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateOpportunityContactRole</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityCloseDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CustomerRequestDescriptionLongText.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>leadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>contactCompanyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Add an Opportunity Contact Role to the newly created Opportunity.</description>
        <name>CreateOpportunityContactRole</name>
        <label>Create Opportunity Contact Role</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the service appointment record with an ID that matches the recordId passed into the flow. Stores the service appointment’s contact ID in the contactId record variable.</description>
        <name>Fetch_Service_Appointment_record</name>
        <label>Fetch Service Appointment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_SA_record_fetched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SA</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_WO_Id.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>main_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WO_Id</name>
        <label>Get WO Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>record_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DynamicDataCapture</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the contact record with an ID matching the contact ID of the service agreement record found in GetServiceAppointment. Stores the email, first name, last name, and full name of the results in the contactEmail, contactFirstName, contactLastName, and contactFullname variables.</description>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Customer_or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>contactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>contactFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the lead record with a last name that matches LastNameText, a company that matches CompanyText, and an email that matches EmailText and stores the ID of the result in the leadId variable.</description>
        <name>GetLead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveExistingLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Company</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactCompanyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactEmail</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>leadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>Allows the flow user to enter the contact details for the new lead.</description>
        <name>CollectLeadDetailsScreen</name>
        <label>Collect Lead Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetVariablesLeadName</targetReference>
        </connector>
        <fields>
            <name>FirstNameText</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>First Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LastNameText</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Last Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PhoneNumberText</name>
            <extensionName>runtime_service_fieldservice:dcPhone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailText</name>
            <extensionName>runtime_service_fieldservice:dcEmail</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CompanyText</name>
            <extensionName>runtime_service_fieldservice:dcTextInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Company</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readOnly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to enter the description of the product or service requested by the customer.</description>
        <name>EnterCustomerRequestScreen</name>
        <label>Enter Customer Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetLead</targetReference>
        </connector>
        <fields>
            <name>DisplayTextEnterRequestInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Enter a description of the product or service that the customer requested.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerRequestDescriptionLongText</name>
            <extensionName>runtime_service_fieldservice:dcLongText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Request Description</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!error_message_text}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Record Id - {!recordId}&lt;/p&gt;&lt;p&gt;Record _Id - {!record_id}&lt;/p&gt;&lt;p&gt;Parent - &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!parent_record_id}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;ParentRecord - {!parentRecordId}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Allows the flow user to indicate whether the prospective customer is the current service appointment customer or a new lead.</description>
        <name>Select_Customer_or_Lead</name>
        <label>Select Current Customer Or Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>WasCurrentCustomerSelected</targetReference>
        </connector>
        <fields>
            <name>DisplayTextSelectCustomerInstructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Select the type of customer to create a lead or opportunity for.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RadioButtonSelectCustomerType</name>
            <choiceReferences>CustomerTypeCurrentCustomerChoice</choiceReferences>
            <choiceReferences>CustomerTypeNewLeadChoice</choiceReferences>
            <extensionName>runtime_service_fieldservice:dcRbGroup</extensionName>
            <fieldText>Customer Type</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>sfdc_fieldservice__DcCreateLeadAndOpp</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Use_parent_record_id_or_record_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the name of the company which is either the specified company name (new lead) or the full contact name (new lead or existing customer).</description>
        <name>contactCompanyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the email address of the contact associated with the sales agreement passed into the flow. This variable is available as output from the flow.</description>
        <name>contactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the first name of the contact associated with the sales agreement passed into the flow. This variable is available as output from the flow.</description>
        <name>contactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the full name of the contact associated with the sales agreement passed into the flow. This variable is available as output from the flow.</description>
        <name>contactFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the contact record associated with the service appointment that was passed into the flow. This variable is available as output from the flow.</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the last name of the contact associated with the sales agreement passed into the flow. This variable is available as output from the flow.</description>
        <name>contactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>contactPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores text associated with an error to be shown in Error_Message_Screen.</description>
        <name>error_message_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCurrentCustomerSelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the ID of the new lead or the ID of the existing lead with a last name, company, and email that matches the last name, company, and email entered by the flow user. This variable is available as output from the flow.</description>
        <name>leadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>main_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the opportunity record created for either a new lead or an existing customer.</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the parentRecordId input, which contains the Service Appointment ID, when the flow is started from a form.</description>
        <name>parent_record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>parentRecordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>parentObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the recordId input, which contains the Service Appointment ID, when the flow is started from a Quick Action.</description>
        <name>record_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
